.elements {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    width: calc(100% - 200px * 2);
    grid-gap: 17px;
    margin: 47px auto 0;
}

@media screen and (max-width: 767px) {
    .elements {
        grid-gap: 17px 20px;
        width: calc(100% - 19px * 2);
        margin: 36px auto 0;
    }
}